.productCategories {
  padding: 30px;
}

.productCategories span {
  margin: 60px;
  cursor: pointer;
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  letter-spacing: 0.5px;
  font-size: 14px;
}

.productCategories span:hover {
  text-decoration: underline;
  text-decoration-thickness: 3px;
  text-underline-offset: 6px;
}
