.mensContainer {
  width: 280px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.mensContainer img {
  width: 280px;
  height: 270px;
  width: 280px;
  padding: 18px;
  border: 1px solid #c2c2c2;
  border-radius: 8px;
  transition: all 0.3s ease;
  background-color: #fff;
}
.mensContainer img:hover {
  border-color: #000;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.05);
}

.mensContainer h3 {
  font-size: 18px;
  text-align: center;
  font-weight: bold;
}

.mensContainer h4 {
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  line-height: 1.5;
  max-height: 3em;
  font-weight: 400;
}

.mensContainer h5 {
  font-size: 16px;
}
.cardLink {
  text-decoration: none;
  color: inherit;
  display: block;
}

.cardLink h3 {
  text-decoration: none;
  margin-bottom: 8px;
}
