.loader {
  width: 48px;
  height: 48px;
  border-radius: 50%;
  display: inline-block;
  border-top: 4px solid #fff;
  border-right: 4px solid transparent;
  box-sizing: border-box;
  animation: rotation 1s linear infinite;
  position: relative;
}

.loader::after {
  content: "";
  box-sizing: border-box;
  position: absolute;
  left: 0;
  top: 0;
  width: 48px;
  height: 48px;
  border-radius: 50%;
  border-bottom: 4px solid #ff3d00;
  border-left: 4px solid transparent;
}

@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.productContainer {
  display: flex;
  flex-direction: column;
}

.productContainer h3 {
  font-size: 22px;
}

.quantitySelect {
  padding: 10px;
  width: 100px;
  border: 1px solid #ddd;
  border-radius: 5px;
  background-color: #fff;
  font-size: 16px;
  cursor: pointer;
  outline: none;
  margin-right: 100px;
}

.quantitySelect:focus {
  border-color: #fe718d;
}

.addToCartContainer {
  display: flex;
  gap: 50px;
}

.addToCart {
  background-color: #000000;
  color: #ffffff;
  padding: 12px 22px;
  border: 1px solid #000000;
  border-radius: 5px;
  font-size: 16px;
  font-weight: 600;
  cursor: pointer;
  transition: all 0.2s ease;
  width: 100%;
  max-width: 200px;
  display: inline-block;
}

.addToCart:hover {
  background-color: #ffffff;
  color: #000000;
}

.productDetails {
  display: flex;
  flex-direction: row;
  gap: 40px;
  margin-top: 40px;
  align-items: flex-start;
}

.infoColumn {
  flex: 1;
}

.reviewsColumn {
  flex: 1;
  border-left: 1px solid #000;
}
.reviewsColumn h2 {
  margin-left: 50px;
}
.individualReview {
  margin-bottom: 20px;
  border-bottom: 1px solid #eee;
  padding-bottom: 10px;
  margin-left: 50px;
}

@media (max-width: 768px) {
  .productDetails {
    flex-direction: column;
    gap: 20px;
  }

  .reviewsColumn {
    border-left: none;
    padding-left: 0;
    border-top: 1px solid #000;
    padding-top: 20px;
  }
}
